<h1>Username: <%=@user.username%> </h1>

<h2>Name: <%=@user.name %></h2>
<h2>License: <%=@user.license %> license</h2>
<h2>Canopy size: <%=@user.canopy_size %></h2>

<h3><a href="/users/<%= @user.id %>/edit">Edit profile info</a></h3>
<h3><a href="/jumps">View your jumps</a></h3>
<h3><a href="/jumps/new">Add a new jump</a></h3>

<h4><a href="/users/<%= @user.id %>/logout">Log Out</a></h4>

<form method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Profile"/>
</form>