<h1>Edit Jump:</h1>

<form action="/jump/<%= @jump.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Jump number:</label>
  <input id='jump_number' type="integer" name="jump[jump_number]" value="<%=@jump.jump_number %>">
  <br>
  <label>Altitude:</label>
  <input id='jump_altitude' type="integer" name="jump[altitude]" value="<%=@jump.altitude %>">
  <br>
  <label>Description:</label>
  <input id='jump_description' type="text" name="jump[description]" value="<%=@jump.description %>">
  <br>
  <label>User:</label>
  <%= @user.name %>
  <br>
  <input type="submit" value="Update Jump">

</form>

